<div id="landingBanners">
    <!-- <div id="landingBannersContent" class="content">
        <div class="landing-banner-container">
            <div class="landing-banner-slides">
                <div class="landing-banner-slide active" data-index="0">
                    <div class="landing-banner-right">
                        <img
                            src="./assets/images/banners/banner.png"
                            alt="Watch Nour Live!"
                        />
                    </div>
                    <div>
                        <h3>Watch Nour Live</h3>
                        <p>
                            Join my comfy off-stream community~!
                        </p>
                        <button href="https://www.twitch.tv/nourxoni" class="minecraft-banner-button">Watch Now</button>
                    </div>
                </div>


            <div class="landing-banner-navigation">
                <button class="landing-banner-nav-btn prev">&lt;</button>
                <button class="landing-banner-nav-btn next">&gt;</button>
            </div>
        </div>
    </div> -->
</div>
